* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #F9F0E2;
  background-blend-mode: lighten; /* ? */
  width: 100%;
  min-height: 100vh;
  min-height:600px; /* ? */

}


 .divHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
} 

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  width: 20%;
  height: auto;
}

h1 {
  text-align: center;
  font-family: 'Arima Madurai';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 86px;
  color: #4A4BFF;
}
/* "Crear una cuenta"-vistaResgiter */
.titleCreate { 
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
  margin-left: auto; /* agregar media query*/
  margin-right: auto;

  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  color: #7374FF;  
} 

.register {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}



.input {        
  width: 300px;    
  height: 40px; 
  text-align: left;
  padding: 10px; 
  border-radius: 10px;   
  border: 1px solid #D4D4D4;  

  font-family: Roboto;    
  font-style: normal;    
  font-weight: 400;    
  font-size: 16px; 
  color: #7374FF;   
} 
::placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  letter-spacing: 0.2em;
  color: #AEAEAE;
}
.buttonsubmit {    
  width: 300px;    
  height: 40px;    
    
  font-family: Roboto;    
  font-style: normal;    
  font-weight: normal;    
  font-size: 18px;    
  text-align: center;    
  color: #FFFFFF;     
  background: #D5D5FF;  
  border: #D5D5FF;  
  border-radius: 10px;  

}

.buttonsubmit:hover {
  transition: 0.1s;
  background: #7374FF;
}

.optionEnterWithGoogle{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.orGoogle {
  display: inline-block;
  position: relative;
  text-align: center;
  margin: 20px 0px 20px 0px; /* text-decoration-line: line-through; */

  font-family: Roboto;
  font-style: normal;    
  font-weight: normal;
  font-size: 16px; 
  color: #C4C4C4;
}

/* líneas decorativas */
.orGoogle::before{
  content: '';
  position: absolute;
  width: 130px;
  height: 1px;
  background-color: currentColor; /* indica el mismo color que el texto */
  top: 10px;
  left: -140px;
}

.orGoogle::after{
  content: ''; /* para que se muestren tiene que tener algún valor en esta propiedad, aunque sea un string vacío */
  position: absolute;
  width: 130px;
  height: 1px;
  background-color: currentColor; /* indica el mismo color que el texto */
  top: 10px;
  right: -140px;
}

.buttonGoogle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;

  width: 300px;    
  height: 40px;   
  background: white; 
  border: white;
  border-radius: 10px;       
  cursor: pointer;  
}

.buttonGoogle:hover {
  background: #F6F7FF; 
}

.logoGoogle{
  width: 10%;
  
} 

.buttonGoogle p {
  font-family: Roboto;    
  font-style: normal;    
  font-weight: normal;    
  font-size: 18px;    
  color: #7374FF; 
}

.unregisteredText_Link{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
  margin-left: auto;
  margin-right: auto;
  padding: 0% 35%; /* aplicar media query */
}

.unregisteredText_Link p {
  margin-left: auto;
  margin-right: auto;

  font-family: Roboto;
  font-style: normal;    
  font-weight: normal;
  font-size: 16px; 
  color: #939393;
}

.logIn_linkRegister{
  margin-left: auto;
  margin-right: auto;

  color: #7374FF;
  font-family: Roboto;
  font-style: normal;    
  font-weight: 500;
  font-size: 16px; 
  text-decoration: none;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 30px;

  font-family: Roboto;
  font-style: normal;
  font-size: 10px;
  line-height: 2;
  color: #AEAEAE;


}

footer a {
  color:#7374FF;
  text-decoration: none;
}

footer a:hover{
  text-decoration: underline;
}

#home {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 10px;

}

.areapost {
width: 262px;
height: 63px;
left: 77px;
top: 160px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 16px;
background: #F9F0E2;
color: #7374FF;
border-color: #F9F0E2;

}