* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #F9F0E2;
  background-blend-mode: lighten; /* ? */
  min-height: 100vh;
  min-height:600px; /* ? */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


 .divHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
} 

.logo {
  display: block;
  width: 20%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}

h1 {
  font-family: 'Arima Madurai';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 86px;
  text-align: center;
  color: #4A4BFF;
}
/* "Crear una cuenta"-vistaResgiter */
.titleCreate { 
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  text-align: left;
  color: #7374FF;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: flex-start;
} 

.register {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}

.input {        
  width: 300px;    
  height: 40px; 
  text-align: left;
  padding: 10px; 
  border-radius: 10px;   
  border: 1px solid #D4D4D4;  

  font-family: Roboto;    
  font-style: normal;    
  font-weight: 400;    
  font-size: 16px; 
  color: #7374FF;   
} 
::placeholder {
  color: #AEAEAE;
}
.buttonsubmit {    
  width: 300px;    
  height: 40px;    
  background: #D5D5FF;    
  border-radius: 10px;    
  font-family: Roboto;    
  font-style: normal;    
  font-weight: normal;    
  font-size: 18px;    
  text-align: center;    
  color: #FFFFFF;    
  border: #D5D5FF; 
}

.buttonsubmit:hover {
  transition: 0.1s;
  background: #7374FF;
}

.optionEnterWithGoogle{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.optionEnterWithGoogle p {
  color: #C4C4C4;
  text-align: center;
  margin: 20px 0px 20px 0px; /* text-decoration-line: line-through; */

  font-family: Roboto;
  font-style: normal;    
  font-weight: normal;
  font-size: 16px; 
}

.buttonGoogle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;

  width: 300px;    
  height: 40px;   
  background: white; 
  border: white;
  border-radius: 10px;       
  cursor: pointer;

  font-family: Roboto;    
  font-style: normal;    
  font-weight: normal;    
  font-size: 18px;    
  text-align: center;    
  color: #7374FF; 
  
  
}

.buttonGoogle:hover {
  background: #F6F7FF; 
}

.logoGoogle{
  width: 10%;
  
} 

.unregisteredText_Link{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}

.unregisteredText_Link p {
  color: #939393;
  font-family: Roboto;
  font-style: normal;    
  font-weight: normal;
  font-size: 18px; 
  
  margin-left: auto;
  margin-right: auto;
}

.logIn_linkRegister{
  color: #7374FF;
  font-family: Roboto;
  font-style: normal;    
  font-weight: 500;
  font-size: 18px; 
  text-decoration: none;
  
  margin-left: auto;
  margin-right: auto;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 30px;
  font-family: Roboto;
  font-style: normal;
  font-size: 10px;
  line-height: 2;
  color: #AEAEAE;


}

footer a {
  color:#7374FF;
  text-decoration: none;
  
}