* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #F9F0E2;
  background-blend-mode: lighten; /* ? */
  width: 100%;
  min-height: 100vh;
  min-height:600px; /* ? */
}

/* logo y h1 */
 .divHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
} 

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15%;
  width: 20%;
  height: auto;
}

/* Título "Plantasia" */
 h1 { 
  text-align: center;
  font-family: 'Arima Madurai';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 86px;
  color: #4A4BFF;
}

/* "Crear una cuenta"-vistaResgiter */
.titleCreate { 
  display: flex;
  justify-content: flex-start;
  margin-top: 8px;
  margin-left: auto; 
  margin-right: auto;

  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 40px;
  color: #7374FF;  
} 

/* contiene todo el form */
.register {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}

/* mensajes de error */
.errorcorreo, .errorcontrasena {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #7374FF;
  letter-spacing: 0.2em;
  
}

.input {        
  width: 300px;    
  height: 40px; 
  text-align: left;
  padding: 10px; 
  border-radius: 10px;   
  border: 1px solid #D4D4D4;  

  font-family: Roboto;    
  font-style: normal;    
  font-weight: 400;    
  font-size: 16px; 
  color: #7374FF;   
} 

::placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  display: flex;
  align-items: center;
  color: #AEAEAE;
}

/* mostrar contraseña */
.openEye {
  width: 20px;
  height: 20px;
  color: #AEAEAE;
  width: 8%;
  height: 4%;
  cursor: pointer;
  top: -3.5em;
  left: 7.5em;
  position: relative;
}

/* botón "iniciar sesión" y "registrarse" */
.buttonsubmit {    
  width: 300px;    
  height: 40px;    
    
  font-family: Roboto;    
  font-style: normal;    
  font-weight: normal;    
  font-size: 18px;    
  text-align: center;    
  color: #FFFFFF;     
  background: #D5D5FF;  
  border: #D5D5FF;  
  border-radius: 10px;  

}

.buttonsubmit:hover {
  transition: 0.1s;
  background: #7374FF;
}

/* SECCIÓN GOOGLE LOGIN/REGISTER */
.optionEnterWithGoogle{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.orGoogle {
  display: inline-block;
  position: relative;
  text-align: center;
  margin: 20px 0px 20px 0px;

  font-family: Roboto;
  font-style: normal;    
  font-weight: normal;
  font-size: 16px; 
  color: #C4C4C4;
}

/* líneas decorativas */
.orGoogle::before{
  content: '';
  position: absolute;
  width: 130px;
  height: 1px;
  background-color: currentColor; /* indica el mismo color que el texto */
  top: 10px;
  left: -140px;
}

.orGoogle::after{
  content: ''; /* para que se muestren tiene que tener algún valor en esta propiedad, aunque sea un string vacío */
  position: absolute;
  width: 130px;
  height: 1px;
  background-color: currentColor; /* indica el mismo color que el texto */
  top: 10px;
  right: -140px;
}

.buttonGoogle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;

  width: 300px;    
  height: 40px;   
  background: white; 
  border: white;
  border-radius: 10px;       
  cursor: pointer;  
}

.buttonGoogle:hover {
  background: #F6F7FF; 
}

.logoGoogle{
  width: 10%;
} 

/* texto botón */
.buttonGoogle p {
  font-family: Roboto;    
  font-style: normal;    
  font-weight: normal;    
  font-size: 18px;    
  color: #7374FF; 
}

/* link "Regístrate" - vista login */
.unregisteredText_Link{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
}

.unregisteredText_Link p {
  font-family: Roboto;
  font-style: normal;    
  font-weight: normal;
  font-size: 16px; 
  color: #939393;
  padding-right: 15px;
}

.logIn_linkRegister{
  color: #7374FF;
  font-family: Roboto;
  font-style: normal;    
  font-weight: 500;
  font-size: 16px; 
  text-decoration: none;
}


footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 30px;

  font-family: Roboto;
  font-style: normal;
  font-size: 10px;
  line-height: 2;
  color: #AEAEAE;


}

/* links footer */
footer a {
  color:#7374FF;
  text-decoration: none;
}

footer a:hover{
  text-decoration: underline;
}

/* VISTA HOME */
#home {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  overflow: hidden;
}

.headerMobile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}

.divHeaderHome{
  margin-top: 2em;
  margin-left: 1em;
}


.logoHome {
  width: 100px;
}

.h1Home {
  font-family: 'Arima Madurai';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 86px;
  color: #4A4BFF;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  column-gap: 60px;
  margin: 20px;
  padding: auto;
  /* bottom: 0; */
  /* position: fixed; */
}

.menuIcon {
  width: auto;
  height: 30px;
}

.buttonLogOut {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #4A4BFF;
  text-decoration: underline;
  margin-top: 5.5em;
  margin-left: 2em;
}

/* contiene todo menos menu  */
.wall {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

 /* icono areapost */
.userIcon {
  display:block;
  margin-top: 10px;
  margin-bottom: 10px;

}

/* form  */
.post {
  display: flex;
  flex-direction: column;
  margin:auto;
  background-color: #FCFCFC;
  /* position: fixed;
  align-items: center;
  padding: 20px; */
}

/* user icon + textarea */
.sectionPostArea {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 15px;
}

/* textarea */
.areapost {
width: 290px;
height: 63px;

font-family: Roboto;
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
background: #FCFCFC;
color: #7374FF;
border-color: #FCFCFC;
}

.divButtonSubmit {
  display: flex;
  justify-content: flex-end;
}

/* botón publicar */
.buttonSubmit {
  width: 100px;    
  height: 30px;    
  margin-top: 10px;
    
  font-family: Roboto;    
  font-style: normal;    
  font-weight: 400;    
  font-size: 14px;    
  text-align: center;    
  color: #FFFFFF;     
  background: #4A4BFF;  
  border: none;  
  border-radius: 15px;  
}


.postAreaDivider {
  width: 90%;
  border-top: 1px solid #D5D5FF;
  margin-top: 15px;
  margin-bottom: 25px;
}

.postContainer {
  width: 90%;
  height: 54%;
  padding: auto;
  /* overflow: scroll;
  position: absolute; */
}

.divPost {
  margin:auto;
  padding-bottom: 25px;
}

/* iconPost + pUser */
.divName {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding-bottom: 10px;
}

.pUser {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  display: flex;
  align-items: center;
  color: #7374FF;
}

/* texto post publicado */
.pPost {  
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #4A4BFF;
}

.divLikes {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.likeButton {
  margin-top: 15px;
  background: none;
  border: none;
  
}

.likeIcon {
  width: auto;
  height: 18px;
}

.pCounter {
  margin-top: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #7374FF;

}


@media screen and (min-width: 992px) { /* Large devices (laptops/desktops, 992px and up) */

  /* VISTA LOGIN/REGISTER */
  .divLogin, .divRegister {
    background-image: url(./images/ilustracion_plant_lovers.svg);
    background-position-x: 15%;
    background-position-y: 70%;
    background-size: 40%;
    background-repeat: no-repeat;
  }


  .divHeader_main {    
   margin: 3% 5% 0% 60%;    
   padding: 0% 0.1% 3% 0.1%;    
   background-color: white;    
   border-radius: 10px;  

  }

  .logo {
    margin-top: 5%;
    width: 25%;
  }
  
  h1 {
    font-size: 28px;
    line-height: 40px;
  }

  .register {
    margin-top: 15px;
    gap: 5px;
  }

  .input {          
    font-size: 14px; 
  } 

  .openEye {
    width: 20px;
    height: 20px;
    color: #AEAEAE;
    width: 7%;
    height: 4%;
    cursor: pointer;
    top: -2.7em;
    left: 7.5em;
    position: relative;
  
  }
  
  ::placeholder {
    font-size: 14px;
  }

  .buttonGoogle {
    border: 1px solid #D4D4D4;  
  }

  footer {
    text-align: right;
    margin-top: 20px;
    margin-right: 5%;
  }
  
  /******* HOME *******/

  #home {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
  }

  .menu {
    margin: 30px;
    column-gap: 80px;
  }

  .menuIcon {
    width: auto;
    height: 35px;
  }

}
